{% extends "base.html" %}

{% block title %}Ward{% endblock %}

{% block styling %}
<style>
    body {
        background-image: url(https://img3.wallspic.com/crops/5/3/9/2/3/132935/132935-plant-hot_air_balloon-medicine-valentines_day-red-1366x768.jpg);
    }
    .form-control {
        border: none;
        border-bottom: 2px solid #fa9d9d; /* Adjust the border width and color */
        border-radius: 0;
        outline: none;
    }

    .form-group {
        margin-bottom: 1.5rem; /* Slightly reduce the margin */
    }

    .card {
        border: 2px solid #fff;
        border-radius: 10px; /* Add border radius for a rounded look */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    .card-title {
        background-color: #fff; /* Set a background color for the title */
        color: black; /* Set text color to white */
        padding: 10px; /* Add some padding to the title */
        border-radius: 10px 10px 0 0; /* Rounded top corners */
    }

    .nav-item:hover {
        color: #007BFF; /* Update the hover color */
    }

    .custom-btn {
        background-color: #fa9d9d;
    }

</style>
{% endblock styling %}

{% block page_content %}
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-title text-center">Ward Information</h5>
                    <div class="card-body">
                        <form action="" method="post">{% csrf_token %}
                            <div class="form-group">
                                {{ form.ward_id }}
                            </div>
                            <div class="form-group">
                                {{ form.ward_name }}
                            </div>
                            <div class="form-group">
                                {{ form.number_beds }}
                            </div>
                            <div class="form-group">
                                {{ form.nurse_in_charge }}
                            </div>
                            <div class="form-group">
                                {{ form.ward_type }}
                            </div>
                            <button type="submit" class="btn btn-block custom-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
